.hotel-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px;
}

.back-button {

  margin: 20px 0;
  font-size: 1rem;
  color: #fff;
  background-color: #2760af;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  width: fit-content; 
  height: auto;
  padding: 5px 10px 5px 10px;
}
.back-button:hover {
  background-color: #0f62d6;
  transition: padding 0.3s ease;
  padding: 5px 25px 5px 10px;
}

.back-button:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

