.hotel-card {
  background-color: rgb(245, 249, 255);
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 0px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  .hotel-card.list {
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: row; 
  }

    .hotel-card.list:hover {
      transform: translateY(-5px);
      background-color: rgb(238, 248, 255);
    }
    
    .hotel-card-content.list{
      flex: 1.5;  
      display: flex;
      flex-direction: row; 
    }
    .hotel-card-image.list {
      flex: 1;  
      padding: 0;  
      display: flex;  
      align-items: stretch;  
    }

  .hotel-card.detail {
    display: flex;
    flex-direction: column; 

  }
    .hotel-card-content.detail{
      display: flex;
      flex-direction: row;
    }
    .hotel-card-image.detail {
      flex: 0.1;  
      padding: 0;  
      display: flex;  
      align-items: contain;  
    }

  .hotel-card-mainContent {
    flex: 1;  
    padding: 5px 20px 0px 20px;
    
  }

  .hotel-card-mainContent h2 {
    font-size: 1.5rem;
    margin-top: 10px 0px;

  }
  .hotel-card-image img {
    width: 100%;  
    height: 100%; 
  }

  .hotel-card-location{
    margin: 15px 0px;
  }

  .hotel-card-dateOfTravel{
    margin: 15px 0px;
  }

  .hotel-card-board-basis{
    background-color: rgb(52, 167, 86);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    margin: 15px 0px;
    border-radius: 10px;
    font-size: 14px;
    color: #ffffff;
  }

  .hotel-card-extraContent{
    padding: 20px 5px 10px 20px;
    flex: 0.3;  
    display: flex;            
    flex-direction: column;    
    justify-content: space-between;
  }
      
  .hotel-card-numberRating{
    width: fit-content;
    padding: 6px 10px 6px 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
    border-radius: 10px;
    align-self:flex-end;
  }

  .rooms-list {
    list-style: disc;
    padding: 0px 0px 20px 20px;
    margin-top: 20px;
  }

  .rooms-list li {
    font-size: 0.9rem;
    color: #444;
  }

  .rooms-none{
    list-style: none;
    background-color: rgb(238, 81, 81);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
  }